<div class="container">
    <h1> CADASTRO DE EMPRESA</h1>

    <form [formGroup]="formGroupEmpresa">
    <!-- Recebe as informações -->
    <div class ="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome empresarial e fantasia</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="nome">
      </div>

    <div class="input-group mb-3">
       <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="endereco">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Contato</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="contato">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Atividade econômica</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="atividade">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">CNPJ</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="cnpj">
    </div>
    </form>

    <!-- Botões -->
    <button type="button" class="btn btn-primary" (click)="save()">Cadastrar</button><br><br>
    <button type="button" class="btn btn-danger">Remover</button>

    <!-- Lista -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Contato</th>
            <th scope="col">Atividade</th>
            <th scope="col">CNPJ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresa">
            <th scope="row">{{empresa.id}}</th>
            <td>{{empresa.nome}}</td>
            <td>{{empresa.endereco}}</td>
            <td>{{empresa.contato}}</td>
            <td>{{empresa.atividade}}</td>
            <td>{{empresa.cnpj}}</td>
          </tr>
        </tbody>
      </table>



</div>